<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Czech futsal championship</title>
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/jquerycssmenu.css">
    <link rel="stylesheet" href="{$basePath}/css/jquery-ui.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
    
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <meta name="viewport" content="width=device-width">
    {block js}
    <script type="text/javascript" src="{$basePath}/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquerycssmenu.js"></script>
    {/block}
    {block head}{/block}
</head>
<body>
    <div id="container">
    

    <div id="header">
        <div class="center">
            <div id="header_content">
                
                <div id="logo">
                    <a n:href="Homepage:default" title="Czech futsal championship"><img src="{$basePath}/img/logo.png" border="0" alt="Czech futsal championship" /></a>
                </div>
                <div id="back">
                    {if $user->isLoggedIn()}
                        <a n:href="Homepage:default, logout => true">Logout</a>
                    {else}
                        <a n:href="Homepage:adminLogin">AdminLogin</a>
                    {/if}
                </div>
                <div id="myjquerymenu">
                    <ul>
                        <li>
                            {if $user->isLoggedIn()}
                                <a>Admin menu</a>
                                <ul>
                                    <li><a n:href="Management:player">Hráči</a></li>
                                    <li><a n:href="Management:payment">Platby</a></li>
                                    <li><a n:href="Management:arbiter">Rozhodčí</a></li>
                                    <li><a n:href="Management:season">Sezóny</a></li>
                                    <li><a n:href="Management:team">Týmy</a></li>
                                </ul>
                            {else}
                            <a n:href="Homepage:default">Registrace</a>
                            {/if}
                        </li>
                        <li><a n:href="Playground:default">Sportoviště</a></li>  
                        <li><a n:href="Rules:default">Pravidla</a></li>
                        <li>
                            <a>Sezóna</a>
                            <ul>
                            {foreach $seasons as $season}
                                <li><a>{$season->seasonName}</a>
                                <ul>
                                    <li><a n:href="Season:results $season->seasonId">Výsledky</a></li>
                                    <li><a n:href="Season:tables $season->seasonId">Tabulky</a></li>
                                    <li><a n:href="Season:schedule $season->seasonId">Rozlosování</a></li>
                                </ul>
                                </li>
                                
                            {/foreach}
                            </ul>
                        </li>
                        <li>
                            <a>Týmy</a>
                        </li>
                        <li><a n:href="Contact:default">Kontakt</a></li>
                    </ul>
                    <br style="clear: left" />
                </div>
            </div>
        </div>
    </div> 
    </div>

    <div id="content">
        <div class="center">
            <div id="center_content">
                {if count($flashes) > 0}
                <div id="flashes">
                    <div class="text">
                        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
                            {$flash->message}
                        </div>
                    </div>
                </div>
                {/if}
                {include content}
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div class="center">	
            <div id="content_footer">        
                <div id="logo_footer">
                    <a n:href="Homepage:default" title="Soukromá futsalová liga"><img src="{$basePath}/img/logo_footer.png" border="0" height="60px" alt="Soukromá futsalová liga" /></a>
                </div>
            </div>        
        </div>    
    </div>
   {block scripts}
        <script type="text/javascript" src="{$basePath}/js/tabs.js"></script>
    {/block}
</body>
</html>
