{block content}
<h1>Administrace</h1>
<h3><a n:href="Management:player">Hráči</a></h3>
<h3><a n:href="Management:payment">Platby</a></h3>
<h3><a n:href="Management:arbiter">Rozhodčí</a></h3>
<h3><a n:href="Management:season">Sezóny</a></h3>
<h3><a n:href="Management:team">Týmy</a></h3>
<h3><a n:href="Management:match">Zápasy</a></h3>
{/block}
