{block content}
<!--
    Content of seasons' management
-->
<div>addSeasonButton</div>
<h1>Sezóny</h1>
<div class="dataTables_wrapper">​
    <table id="season_table" class="table js_table">
        <thead>
            <tr>
                <th>Sezóna</th>
                <th>Aktuální</th>
                <th>Nastavit</th>
            </tr>
        </thead>
        <tbody>
            seasonTable
        </tbody>
    </table>
</div>
<div>addSeasonForm</div>
{/block}